.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner__titulo{
    font-size: 18px;
    font-weight: 700;

}
.banner__texto{
    margin: 1em 0;
}
.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.banner__pesquisa::placeholder{
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    padding: 0 38px;
    color: var(--branco);
    background: url("../img/Pesquisa.png") no-repeat;
    background-position: 1em;
  

}
@media(min-width: 1024px) {
    .banner__titulo{
        font-size: 32px;
        
    }
    .banner__pesquisa{
        width: 40%;
    }
    .banner__pesquisa::placeholder{
        text-align: center;
        background-position: 6em;
    }
   
}
@media (min-width: 1728px) {
    .banner__titulo{
        font-size: 32px;
        font-weight: 700;
    }
    .banner__pesquisa{
        width: 25%;
        padding: 1.5em;
    }
    .banner__pesquisa::placeholder{
        text-align: center;
        background-position: 3em;
    }
}
